body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden; /* 禁用页面滚动 */
    touch-action: none; /* 禁用默认的触摸行为 */
}
